# Virtual Environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Database files
*.db

# VS Code settings
.vscode/

# Operating system files
.DS_Store